<div class="table-responsive" >
            <table class="table table-sm table-striped">
                <thead>
                <tr class="">
                    <th scope="col">Name</th>
                    <th scope="col">Value</th>
                    <th scope="col">Description</th>
                    <th scope="col">Type</th>
                </tr>
                </thead>
                <tbody>

                {% for object in lst_netobjects %}
                    {% set projectID = "object_" + object['id']|string %}
                    {% set deleteID = "delete_" + object['id']|string %}
                    {% set editID = "edit_" + object['id']|string %}
                    {% set nameID = "name_" + object['id']|string %}
                    {% set descriptionID = "description_" + object['id']|string %}

                <tr>
                    <td class="col">
                        <img class="edit_icon" id="{{ editID }}" style="width:20px" src="{{  url_for('static', filename='img/pencil_icon.png') }}" alt="edit">
                        <img class="delete_icon" id="{{ deleteID }}" style="width:20px" src="{{  url_for('static', filename='img/trash_icon.png') }}" alt="delete">
                        <span id="{{ nameID }}">{{ object['name'] }}</span>
                    </td>
                    <td class="col"><span>{{ object['value'] }}</span></td>
                    <td class="col"><span>{{ object['description'] }}</span></td>
                    <td class="col"><span>{{ object['type'] }}</span></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
</div>




