body {
    background-color: #F1F1F1
}

.sidebarRow:hover {
    background-color: #cacecf;
}

.edit_icon:hover, .delete_icon:hover, .run_icon{
    cursor: pointer;
}

.net-objects-group {
    max-width: 100px
}

#projectsListTable > td {
    border: 1px;
    border-style: solid;
    border-color: gray;
}

.menubardiv {
    min-height: 300px;
    min-width: 100px;
    border-radius: 10px;
    background: #eee;
    padding: 10px;
    border: 1px;
    border-color: blue;
    border-style: dashed;
    margin-top: 20px;
}

.matrixtable > tr  {
    border: 1px;
    border-color: black;
    border-style: dashed;
}


.matrixCell {
  padding: 5px;
  min-height: 50px;
  margin: 2px;
  z-index: 0;
}


