{% extends "base_template.html" %}

{% block title %}About{% endblock %}

{% block main %}

<div class="container-fluid">
    <h1 style="color: green">About NetPM</h1>
    <hr>
    <div class="row">
        <div class="col">
            <p>This software is blablabla...</p>

        </div>
    </div>
</div>

{% endblock %}