{% extends "base_template.html" %}
menuItems_macro.html
{% import 'macros/sidebar_macros.html' as sidebar %}

{% block title%}Home page{% endblock %}

{% block main %}

<div class="container-fluid">
  <div class="row">
    <h1>{% if session['projectName'] %}{{ session['projectName'] }}{% endif %} - Network Policy Matrix</h1>
    <hr>
  </div>


  <div class="row">

    <div class="col-2" style="overflow: scroll">
      <form>
        <div class="mb-3">
          <label for="searchText" class="form-label">Search</label>
          <input type="text" class="form-control" id="sidebarSearchInput" aria-describedby="searchArea">
          <div id="searchHelp" class="form-text">
            Type a service, application, network object name, ip address or whatever you are looking for
          </div>
          <div id="leftDragZone" class="menubardiv">

            <p class="text-end">
              <span id="addNeBadgeBtn" class="badge bg-primary">+N</span>
              <span id="addServiceBadgeBtn" class="badge bg-primary">+S</span>
              <span id="addAppBadgeBtn" class="badge bg-primary">+A</span>
            </p>

              {{ sidebar.item(objectName="coucou", type="app", id="1") }}
              {{ sidebar.item(objectName="hibou", type="app", id="2") }}
              {{ sidebar.item(objectName="Choclate", type="app", id="3") }}
              {{ sidebar.item(objectName="Ginger", type="app", id="4") }}

          </div>
        </div>
      </form>
    </div>

    <div class="col-10">
      <table class="matrixtable" style="">
        <thead>
        <tr>
          <th>Src \ Dst</th>
          <th class="col"><label class="alert-success" >Netobject 1</label></th>
          <th class="col"><label class="alert-success" >Netobject 2</label></th>
          <th class="col"><label class="alert-success" >Netobject 3</label></th>
          <th class="col"><label class="alert-success" >Netobject 4</label></th>
          <th class="col"><label class="alert-success" >Netobject 5</label></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th class="col"><label class="alert-success" >Netobject 1</label></th>
          <td><div class="matrixCell"></div></td>
          <td><div class="matrixCell"></div></td>
          <td><div class="matrixCell"></div></td>
          <td><div class="matrixCell"></div></td>
          <td><div class="matrixCell"></div></td>

        </tr>

        <tr>
          <th class="col"><label class="alert-success" >Netobject 2</label></th>
          <td><div class="matrixCell"></div></td>
          <td><div class="matrixCell"></div></td>
          <td><div class="matrixCell"></div></td>
          <td><div class="matrixCell"></div></td>
          <td><div class="matrixCell"></div></td>
        </tr>

        <tr>
          <th class="col"><label class="alert-success" >Netobject 3</label></th>
          <td><div class="matrixCell"></div></td>
          <td><div class="matrixCell"></div></td>
          <td><div class="matrixCell"></div></td>
          <td><div class="matrixCell"></div></td>
          <td><div class="matrixCell"></div></td>
        </tr>

        <tr>
          <th class="col"><label class="alert-success" >Netobject 4</label></th>
          <td><div class="matrixCell"></div></td>
          <td><div class="matrixCell"></div></td>
          <td><div class="matrixCell"></div></td>
          <td><div class="matrixCell"></div></td>
          <td><div class="matrixCell"></div></td>
        </tr>
        <tbody>
      </table>
    </div>
  </div>
</div>


{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/matrix.js') }}"></script>
<script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
{%endblock%}