{% extends "base_template.html" %}
{% import 'macros/projects_macros.html' as pm %}

{% block title %}Manage Network Objects{% endblock %}

{% block main %}

<div class="container-fluid">
    <h1>Manage network objects</h1>
    {% if "projectName" in session %}<h5>Current project : {{ session['projectName'] }}</h5>{% endif %}
    <hr>

    <!-- Button trigger project creation modal -->
    <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#newNetObjectModal">
        + New network object
    </button>

    <br /><br />
    <input style="max-width: 400px;" class="form-control" id="tableSearchInput" type="text" placeholder="Search..">
    <div id="searchHelp" class="form-text">
        Type something in the input field to search the table for project name or description.
    </div>
    <br>


    <div id="objectsTableDiv" class="row">
        <!-- Here comes the net objects table -->
    </div>

    <!-- Network object creation modal -->
    <div class="modal fade" id="newNetObjectModal" tabindex="-1" aria-labelledby="newNetObjectModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newNetObjectModalLabel">Create a new network object</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="newNetObjectName" class="form-label">Network object name:</label>
                            <input type="text" class="form-control" id="newNetObjectName" name="newNetObjectName" placeholder="eg. IOT Network">
                        </div>
                        <div class="mb-3">
                            <label for="newNetObjectDescription" class="form-label">Description:</label>
                            <input type="text" class="form-control" id="newNetObjectDescription" name="newNetObjectDescription" placeholder="eg. Future IOT network">
                        </div>
                        <div class="mb-3">
                            <label for="newNetObjectType" class="form-label">Type:</label>
                            <select id="newNetObjectType" class="form-select" aria-label="Select...">
                                <option value="host" selected>Host</option>
                                <option value="subnet">Subnet</option>
                                <option value="range">Range</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="newNetObjectValue" class="form-label">Description:</label>
                            <input type="text" class="form-control" id="newNetObjectValue" name="newNetObjectValue" placeholder="eg. 192.168.1.1/24">
                            <div class="validateValueMessage" style="margin: 10px; margin-top: 15px"></div>
                        </div>
                        <div class="mb-3">
                            <hr>
                            <p style="color: gray">The network object value field can be a host IP, a network (CIDR Notation) or an ip range. Here are some values examples :</p>
                            <ul>
                                <li style="color: gray">host : 192.168.1.1</li>
                                <li style="color: gray">subnet : 10.1.0.0/22</li>
                                <li style="color: gray">range : 172.16.100.101/172.16.101.200</li>
                            </ul>
                            <p style="color: gray">Note that IPV6 is also supported!</p>
                            <hr>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" onclick="addNewNetObject()">Save changes</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>


    <!-- Network object edition modal -->
    <div class="modal fade" id="editNetObjectModal" tabindex="-1" aria-labelledby="editNetObjectModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editNetObjectModalLabel">Delete network object</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="editNetObjectName" class="form-label">Network object name:</label>
                            <input type="text" class="form-control" id="editNetObjectName" name="editNetObjectName" placeholder="eg. IOT Network">
                        </div>
                        <div class="mb-3">
                            <label for="editNetObjectDescription" class="form-label">Description:</label>
                            <input type="text" class="form-control" id="editNetObjectDescription" name="editNetObjectDescription" placeholder="eg. Future IOT network">
                        </div>
                        <div class="mb-3">
                            <label for="editNetObjectType" class="form-label">Type:</label>
                            <input id="editNetObjectType" class="form-control" type="text" placeholder="unknown type" aria-label="unknown type" disabled readonly>
                        </div>

                        <div class="mb-3">
                            <label for="editNetObjectValue" class="form-label">Description:</label>
                            <input type="text" class="form-control" id="editNetObjectValue" name="editNetObjectValue" placeholder="eg. 192.168.1.1/24">
                            <div class="validateValueMessage" style="margin: 10px; margin-top: 15px"></div>
                        </div>
                        <div class="mb-3" id="">
                            <hr>
                            <p style="color: gray">The network object value field can be a host IP, a network (CIDR Notation) or an ip range. Here are some values examples :</p>
                            <ul>
                                <li style="color: gray">host : 192.168.1.1</li>
                                <li style="color: gray">subnet : 10.1.0.0/22</li>
                                <li style="color: gray">range : 172.16.100.101/172.16.101.200</li>
                            </ul>
                            <p style="color: gray">Note that IPV6 is also supported!</p>
                            <hr>
                        </div>
                        <div class="mb-3">
                            <input hidden type="text" class="form-control" id="editNetObjectId" name="objectId" value="">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" onclick="updateNetObject()">Save changes</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

<!-- Network object edition modal -->
    <div class="modal fade" id="deleteNetObjectModal" tabindex="-1" aria-labelledby="editNetObjectModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteNetObjectModalLabel">Delete network object</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="deleteNetObjectName" class="form-label">Network object name:</label>
                            <input type="text" class="form-control" id="deleteNetObjectName" name="deleteNetObjectName" placeholder="eg. IOT Network" disabled readonly>
                        </div>
                        <div class="mb-3">
                            <label for="deleteNetObjectDescription" class="form-label">Description:</label>
                            <input type="text" class="form-control" id="deleteNetObjectDescription" name="deleteNetObjectDescription" placeholder="eg. Future IOT network" disabled readonly>
                        </div>
                        <div class="mb-3">
                            <label for="deleteNetObjectType" class="form-label">Type:</label>
                            <input id="deleteNetObjectType" class="form-control" type="text" placeholder="unknown type" aria-label="unknown type" disabled readonly>
                        </div>

                        <div class="mb-3">
                            <label for="deleteNetObjectValue" class="form-label">Description:</label>
                            <input type="text" class="form-control" id="deleteNetObjectValue" name="editNetObjectValue" placeholder="eg. 192.168.1.1/24" disabled readonly>
                            <div class="validateValueMessage" style="margin: 10px; margin-top: 15px"></div>
                        </div>
                        <div class="mb-3">
                            <input hidden type="text" class="form-control" id="deleteNetObjectId" name="objectId" value="">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-danger" onclick="deleteNetObject()">DELETE</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>


    {% endblock %}

    {% block script %}
    <script src="{{ url_for('static', filename='js/netObjects.js') }}"></script>
    {% endblock %}