{% extends "base_template.html" %}
{% import 'macros/projects_macros.html' as pm %}

{% block title %}Manage project{% endblock %}

{% block main %}

<div class="container-fluid">
    <h1>Projects</h1>
    <hr>

    <!-- Button trigger project creation modal -->
    <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#newProjectModal">
        + New project
    </button>

    <br /><br />
    <input style="max-width: 400px;" class="form-control" id="tableSearchInput" type="text" placeholder="Search..">
    <div id="searchHelp" class="form-text">
        Type something in the input field to search the table for project name or description.
    </div>
    <br>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Project name</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody id="projectsListTable">
        {% for item in projectsList %}
        {% set projectId = item['projectId']|string %}
        {% set projectName = item['projectName'] %}
        {% set projectDescription = item['projectDescription'] %}
        {% set projectID = "project_" + projectId %}
        {% set deleteID = "delete_" + projectId %}
        {% set editID = "edit_" + projectId %}
        {% set runID = "run_" + projectId %}
        {% set nameID = "name_" + projectId %}
        {% set descriptionID = "description_" + projectId %}

        <tr>
            <td class="col-3">
                <img class="edit_icon" id="{{ editID }}" style="width:20px" src="{{  url_for('static', filename='img/pencil_icon.png') }}" alt="edit">
                <img class="delete_icon" id="{{ deleteID }}" style="width:20px" src="{{  url_for('static', filename='img/trash_icon.png') }}" alt="delete">
                {% if 'projectId' in session %}
                    {% if session['projectId']|string == projectId %}
                        <img class="running_icon" id="{{ runID }}" style="width:20px; margin-bottom: 3px; margin-right: 5px" src="{{  url_for('static', filename='img/current_project_icon.png') }}" alt="run">
                    {% else %}
                        <img class="run_icon" id="{{ runID }}" style="width:25px; margin-bottom: 3px;" src="{{  url_for('static', filename='img/run_icon.png') }}" alt="run">
                    {% endif %}
                {% else %}
                    <img class="run_icon" id="{{ runID }}" style="width:25px; margin-bottom: 3px;" src="{{  url_for('static', filename='img/run_icon.png') }}" alt="run">
                {% endif %}
                <span id="{{ nameID }}">{{ projectName }}</span>
            </td>
            <td class="col-9"><span id="{{ descriptionID }}">{{ projectDescription }}</span></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<!-- project creation modal -->
<div class="modal fade" id="newProjectModal" tabindex="-1" aria-labelledby="newProjectModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newProjectModalLabel">Create a new project</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/projects/addNew" method="post">
                    <div class="mb-3">
                        <label for="projectName" class="form-label">Project Name:</label>
                        <input type="text" class="form-control" id="projectName" name="projectName" placeholder="Enter a name for the new project">
                    </div>
                    <div class="mb-3">
                        <label for="projectDescription" class="form-label">Project Description:</label>
                        <input type="text" class="form-control" id="projectDescription" name="projectDescription" placeholder="Enter a description for the new project">
                    </div>
                    <div class="mb-3 text-end">
                        <button type="submit" class="btn btn-primary">Create the project</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


<!-- Project edition modal -->
<div class="modal fade" id="modifyProject" tabindex="-1" aria-labelledby="modifyProjectLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modifyProjectLabel">Edit this project</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/projects/update" method="post">
                    <div class="mb-3">
                        <label for="projectName" class="form-label">Project Name:</label>
                        <input type="text" class="form-control" id="editProjectNameInput" name="projectName" placeholder="Enter a name for the new project">
                    </div>
                    <div class="mb-3">
                        <label for="projectDescription" class="form-label">Project Description:</label>
                        <input type="text" class="form-control" id="editProjectDescriptionInput" name="projectDescription" placeholder="Enter a description for the new project">
                    </div>
                    <div class="mb-3">
                        <input hidden type="text" class="form-control" id="editProjectIdInput" name="projectId" value="">
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="updateProject()">Save changes</button>
            </div>
        </div>
    </div>
</div>


<!-- Project deletion modal -->
<div class="modal fade" id="deleteProject" tabindex="-1" aria-labelledby="deleteProjectLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteProjectLabel">Delete the project</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="projectName" class="form-label">Project Name:</label>
                        <input type="text" class="form-control" id="deleteProjectNameInput" name="projectName" placeholder="Enter a name for the new project" disabled readonly>
                    </div>
                    <div class="mb-3">
                        <label for="projectDescription" class="form-label">Project Description:</label>
                        <input type="text" class="form-control" id="deleteProjectDescriptionInput" name="projectDescription" placeholder="Enter a description for the new project" disabled readonly>
                    </div>
                    <div class="mb-3">
                        <input hidden type="text" class="form-control" id="deleteProjectIdInput" name="projectId" value="">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bsaddNew-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" onclick="deleteProject();">Delete project</button>
            </div>
        </div>
    </div>
</div>


<!-- Project run modal -->
<div class="modal fade" id="runProject" tabindex="-1" aria-labelledby="runProjectLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="runProjectLabel">Load an run a project</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/projects/load" method="post">
                    <div class="mb-3">
                        <label for="projectName" class="form-label">Project Name:</label>
                        <input type="text" class="form-control" id="runProjectNameInput" name="projectName" placeholder="Enter a name for the new project" disabled readonly>
                    </div>
                    <div class="mb-3">
                        <label for="projectDescription" class="form-label">Project Description:</label>
                        <input type="text" class="form-control" id="RunProjectDescriptionInput" name="projectDescription" placeholder="Enter a description for the new project" disabled readonly>
                    </div>
                    <div class="mb-3">
                        <input hidden type="text" class="form-control" id="runProjectIdInput" name="projectId" value="">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" onclick="runProject()">Load and run!</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/projects.js') }}"></script>
{% endblock %}