{% macro projectTableLine(projectId="1", projectName="test-name", projectDescription="app") -%}

{% set projectID = "project_" + projectId %}
{% set deleteID = "delete_" + projectId %}
{% set editID = "edit_" + projectId %}
{% set runID = "run_" + projectId %}
{% set nameID = "name_" + projectId %}
{% set descriptionID = "description_" + projectId %}

<tr>
    <td class="col-3">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modifyProject">
  Launch demo modal
</button>
        <img class="edit_icon" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modifyProject" id="{{ editID }}" style="width:20px" src="{{  url_for('static', filename='img/pencil_icon.png') }}" alt="edit">
        <img class="delete_icon" id="{{ deleteID }}" style="width:20px" src="{{  url_for('static', filename='img/trash_icon.png') }}" alt="edit">
        <img class="run_icon" id="{{ runID }}" style="width:25px; margin-bottom: 3px;" src="{{  url_for('static', filename='img/run_icon.png') }}" alt="edit">
        <span id="{{ nameID }}">{{ projectName }}</span>
    </td>
    <td class="col-9"><span id="{{ descriptionID }}">{{ projectDescription }}</span></td>
</tr>

{%- endmacro %}




