{% macro item(objectName="test_object", type="app", id="1") -%}

{% set objectID = "object" + "%" + objectName + "%" + id %}
{% set deleteID = "delete" + "%" + objectName + "%" + id %}
{% set editID = "edit" + "%" + objectName + "%" + id %}
<div class="row sidebarRow">
    <div class="col-9 text-start" id="{{ objectID }}" >{{ objectName }}</div>
    <div class="col-1 text-end">
        <img class="delete_icon" id="{{ editID }}" style="width:20px" src="{{  url_for('static', filename='img/pencil_icon.png') }}" alt="delete">
    </div>
    <div class="col-1 text-end">
        <img class="edit_icon" id="{{ deleteID }}" style="width:20px" src="{{  url_for('static', filename='img/trash_icon.png') }}" alt="edit">
    </div>
</div>
{%- endmacro %}




