<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{{  url_for('static', filename='css/style.css') }}" >

    <title>{% block title %}{% endblock %}</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="https://gitlab.com/mistercinux/NetPM">NetPM</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                <li class="nav-item">
                    <a class="nav-link" href="/">Policy Matrix</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        File
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarFileDropdown">
                        <li><a class="dropdown-item" href="/write_mem">Commit changes</a></li>
                        <li><a class="dropdown-item" href="/discardChanges">Discard changes</a></li>
                        <li><a class="dropdown-item" href="/shutdown">Close application</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDatabaseDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Manage
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/projects">Projects</a></li>
                        <li><a class="dropdown-item" href="/netObjects">Network objects</a></li>
                        <li><a class="dropdown-item" href="/SNA">Services and applications</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/save">Commit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/discardChanges">Discard</a>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div id="message">
    {% if successMessage %}
    <div class="alert alert-success" role="alert">
        {{ successMessage }}
    </div>
    {% endif %}

    {% if errorMessage %}
    <div class="alert alert-danger" role="alert">
        {{ errorMessage }}
    </div>
    {% endif %}
</div>

{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            <span>{{ message }}</span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    {% endif %}
{% endwith %}


<main>
    {% block main %}{% endblock %}
</main>

<div class="row">
    <div style="padding: 20px; margin: 20px; background-color: yellow; text-color:red" class="col">
        <p>Debug div :</p>
        <p>Session vars:</p>
        <ul>
            <li>projectID = {{ session['projectId'] }}</li>
            <li>projectName = {{ session['projectName'] }}</li>
        </ul>
    </div>
</div>

<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/jquery-3.6.0.js') }}"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% block script %}{% endblock %}
</body>
</html>
